<div>
  <label> Sort</label>
  <br>
  <select [(ngModel)]='SortbyParam' >
    <option hidden value="" disabled selected>Select one category </option>
    <option value="Prod_Name" >Sort By Name</option>
    <option value="Prod_Price">Sort By Price</option>
  </select>

  <select [(ngModel)]='SortOrder' >
    <option value="asc" >Sort Ascending</option>
    <option value="desc">Sort Descending</option>
  </select>

  <button (click)='onclear()'>Clear</button>
</div>

<div *ngFor="let item of category|sort:[SortbyParam,SortOrder]">
  Name:{{item.Prod_Name}}
  <br>
  Retailer Name:{{item.Retail_Name}}
 <br>
 Price:{{item.Prod_Price}}

 <button (click)="showDetails(item.Prod_Id)" class="btn btn-primary">View Product</button>
 <hr>
 </div>




