<header style="background-color:#e6f0f5 ;">
  <h2><span class="brand-logo"><a routerLink="Home" style="text-decoration: none;">Shopping</a></span>
    <!-- <label for="menu-toggle"><span class="ti-menu"></span></label></h2> -->
    </h2>
  <input type="checkbox" id="menu-toggle" />
  <div class="main-menu">
    <div class="menu-responsive">
      <label for="menu-toggle">Close</label>
      <form action="" class="search">
        <input type="search" placeholder="search store" />
        <button><span class="span ti-search"></span></button>
      </form>
    </div>
    <div *ngIf="name==='' else elseBlock" >
    <!-- <a  [routerLink]="name===''? ['/Login'] : ['']" >{{name===""?"Login":name}}</a>&nbsp; -->
    <a  [routerLink]=" ['/Login']" >Login</a>&nbsp;
    <a routerLink="SignUp">Sign up</a>
    </div>
    <ng-template #elseBlock>
      <a [routerLink]="['']" >{{name}}</a>&nbsp;
      <a href="#">Your Orders</a>
      <a routerLink="Home" (click)="logout()">Logout</a>
    </ng-template>
  </div>
</header>

  <div style="padding: 10px;background-color:#e6f0f5 ;">
    <ul >
      <li  style="display: inline;padding:10px;"><a class="linki" style="text-decoration: none;" routerLink="Home">Home</a></li>
      <li  style="display: inline;padding:10px;"><a class="linki" style="text-decoration: none;" routerLink="Products">Products</a></li>
      <li  style="display: inline;padding:10px;"><a class="linki" style="text-decoration: none;" [routerLink]="['Cart','2']">Cart</a></li>
      <li  style="display: inline;padding:10px;"><a class="linki" style="text-decoration: none;" [routerLink]="['Wishlist',id]">Wishlist</a></li>
      <li  style="display: inline;padding:10px;"><a class="linki" style="text-decoration: none;" routerLink="Home">Compare</a></li>
      <li  style="display: inline;padding:10px;"><app-navbar></app-navbar></li>
    </ul>
    </div>





<router-outlet></router-outlet>

